* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    height: 150px;
}

h1 {
    color: white;
    text-align: center;
}

header > p, a{
    color: white;
    text-decoration: none;
    text-align: center;
}

header > p > a:hover{
    text-decoration: underline;
}
