@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    background-color: black;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-variant: small-caps;
}

h1, header > p {
    color: white;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section {
    padding: 10vh 20px 10vh;
    line-height: 1.5rem;
}

.img {
    background-color: rgba(58, 58, 58, 0.808);
    color: white;
}

.img > p {
    background-color: rgba(0, 0, 0, 0.185);
    width: 200px;
    padding-left: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

